<table id="example2" class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>No.</th>
      <th>Nama Coint</th>
      <th>Jumlah Coint</th>
      <th>Harga Coint</th>
      <th>Aksi</th>
    </tr>
  </thead>
  <tbody>
    <% for(var i = 0; i < nominal.length; i++) { %>
      <tr>
        <td><%= i + 1 %></td>
        <td><%= nominal[i].cointName %></td>
        <td><%= nominal[i].cointQuantity %></td>
        <td><%= nominal[i].price %></td>
        <td>
          <form action="/nominal/delete/<%= nominal[i].id %>?_method=DELETE" method="POST" >
            <a href="/nominal/edit/<%= nominal[i].id %>" class="btn btn-info btn-sm">
              <i class="fas fa-pencil-alt"></i>
              Ubah</a>
            <button class="btn btn-danger btn-sm">
              <i class="fas fa-trash"></i>
              Hapus</button>
          </form>
        </td>
      </tr>
      <% } %>
  </tbody>
</table>
